---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1> Welcome to our blog about the <strong>Galaxy</strong></h1>
<p> Hi all! My name is E.J. Leskauskas and I am an avid lover of Space! Ever since I was young, the stars and planets have always intriegued me, so I decided to start a blog on all of my thoughts on the sky! On my page, you can find my home page (that you are currently on), my about page, and the two blog posts! I look forward to hearing what everyone think about my blog! </p>