<nav>
    <ul>
      <li><a href="/" title="Go home">Home</a></li>
      <li><a href="/about/" title="About the blog">About</a></li>
      <li><a href="/blog1/" title="Blog #1">Blog 1</a></li>
      <li><a href="/blog2/" title="Blog #2">Blog 2</a></li>
    </ul>
  </nav>